*{
    margin: 0px;
    font-family: Arial;
    border: border-box;/*for counting the border in height and widght which have diffrent height and wid when we use padding*/
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: #ffffff;
    display: flex;/* if we have many div and we want that every icon of navbar will be one line use this*/
    align-items: center;/*forevery item in navbar will be on center*/
    justify-content: space-evenly;
}

/* box1 */
.nav-logo{  /*nav-logo is make because for every figure in navbar we need to create their class first */
    height: 50px;
    width: 100px;
}

.logo{ 
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 0.5px solid transparent;
}

.border:hover{
    border: 0.5px solid white;
}

/* box2 */
.addfirst{
    color: #cccccc;
    font-size: 0.8rem;/* we use rem in term of when the size of page decrease font size is also decreasw add to decrease*/
    margin-left: 36px;
    margin-top: 3px;
    justify-content: center;
    align-items: center;
}

.addsec{
    color: #ffffff;
    font-size: 1rem;
    margin-left: 5px;
    align-items: center;
}

.add-icon{
    display: flex;/*using beacause the location is not in line of lndia*/
    align-items: center;
    margin-left: 20px;
}

/* box3 */
.nav-select{
    display: flex;
    justify-content: space-evenly;
    background-color: #FFDA76;
    width: 620px;
    height: 36px;
    border-radius:3px;
}

.search-class{
    border-top-left-radius:3px;
    border-bottom-left-radius: 3px;
    background-color: #f3f3f3;
    height: 36px;
    width: 48px;
    text-align: center;
    border: none;
}

.search-input{
    font-size: medium;
    width: 100%; /* means rest space will be giveto searchinput*/
}

.search-icon{
    height: 40px;
    width: 45px;
    display: flex;
    justify-content: center;/*for horizontal center*/
    align-items: center; /*for verticle center*/
    font-size: 1.3rem;
    color: #0f1111;
}

.nav-select:hover{
    border: 2px solid orange
}

/* box4*/
span{
    font-size: 0.9rem;
}

.second{
    font-size:1.2rem;
    font-weight: 0.9rem;/*for giving font bold look*/
}

/*.arrow{
    justify-items: left;<div class="arrow">
                    <i class="fa-solid fa-caret-down"></i>
                </div>
}

/*box5*/
.nav-cart i{
    font-size: 1.8rem; /* use i it is combination of selectors if we want to apply the style that only appy onthat icon use i*/
    font-weight: 0.9rem;
}

/*box6*/
.nav-panel{
    display: flex;
    height: 40px;
    background-color: #222f3d;
    align-items: center;
    justify-content: space-evenly;
    color: #ffffff;
}

.panelall{
    width: 50%;

}

.option p{
    display: inline;
    width: 1200px;
    margin-left: 20px;
    font-size: 0.9rem;
}

/*hero section*/
.hero-section{
    background-image: url(3000.jpg);
    height: 450px;
    background-size: cover;
}

/* shopping- sec*/
.shopping-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: cadetblue;
}

.box{
    height: 400px;
    width: 23%;
    background-color: #ffffff;
    padding: 20px 0px 15px;
    background-size: cover;
    margin-top: 15px;
}

.box-ing{
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: cover;
}

.box-content{
    margin-left: 15px;
    margin-right: 15px;
}

.box-content p{
    color:#007185;
}

/* footer*/
footer{
    margin-top: 15px;
}
.foot-panel1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #37475a;
    color: #ffffff;
    height: 50px;
    font-weight: 1px;
    font-size: 0.85rem;
}
.foot-panel2{
    color: #dddddd;
    background-color: #232f3e;
    height: 400px;
    display: flex;/*if we want the main line starts with diffrent line top we put flex on parentcontainer*/
    justify-content: space-evenly;
}
.foot-panel2 p{
    color: #ffffff;
}
ul{
    margin-top: 35px;
}
ul a{
    display: block;
    font-size: 0.9rem;
    margin-top: 20px; /*if we want to add space between anchor tag line on website give marin*/
}
.foot-panel3{
    border-top: 1px solid white;
    height: 50px;
    background-color: #232f3e ;
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo{ 
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel4{
    height: 90px;
    background-color: #131a22;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.foot-op{
    color: #dddddd;
    margin-top: 2px;
    font-size: 14px;
}

.foot-op a{
    margin: 9px;

}
.foot-op p{
    margin-left: 55px;
    margin-top: 6px;
}
