*{
    padding: 0px;
    margin: 0px;
    color: azure;
}

#navbar{
    background-color: black;
    height: 60px;
    width: 1800px;
    position: fixed;
    top: 0px;
    left: 0px;
}
body{
    background-image: url(66.jpg);
    background-size: contain;
}
a{
    margin: 100px;
}
#logo{
    color: darkgoldenrod;
    font-size: small;
}
p{
    color: black;
    text-align: center;
}
p2{
    color: black;
    text-align: center;
}

button{
    background-color: crimson;
}

#v{
    position: sticky;
    color: darkgreen;
    top: 100px;
    left: 300px;
    border-radius: 50%;
    padding: 10px;
    background-image: url(02367.jpg);
    background-size: cover;
}

div{
    display: inline-block;
    text-align: center;
    height: 100px;
    width: 100px;
    border: 100px;
    border-color: black;
}
#n{
    position: fixed;
    bottom: 500px;
    left: 500px;
    padding: 10px;
    border-radius: 50%;
    background-image: url(Sale.jpg);
    background-size: cover;
}
#b{
    position: sticky;
    top: 100px;
    left: 1000px;
    padding: 10px;
    border-radius: 50%;
    background-image: url(S.jpg);
    background-size: cover;
}

#f{
    height: 50px;
    width: 1800px;
    position: fixed;
    bottom: 0px;
    text-align: center;
    background-color: rgb(4, 1, 7);
    left: 0px;

}